<h1>List of all movies</h1>

<table border="1">
<% @list_of_movies.each do |blah| %>
  <tr>
    <td><%= blah.id %> </td>
    <td> <img src ="http://robohash.org/<%= blah.title %>"> </td>
    <td><%= blah.title %> </td>
    <td><%= blah.year %> </td>
    <td><%= @list_of_dirs.where({ :id => blah.director_id}).at(0).name %> </td>
    <td> <a href="/movies/<%= blah.id%>">Show Details</a>   </td>
  </tr>
<% end %>